html {
  box-sizing: border-box;
  height: 100%;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  background-color: #000000;
  color: #fff;
  height: 100vh;
}

.nav-container {
  display: flex;
  align-items: center;
}

.logo-container {
  margin-left: 10px;
}

.logo {
  margin-top: -10px;
}

.menu-wrap {
  margin: 15px 15px 0px 0px;
}

.navbar-item {
  color: #8f838f;
  margin-left: 40px;
}

.logo {
  height: 100px;
  width: 100px;
}

a {
  color: #747474;
}

hr {
  border: 1px solid #26263a;
}

.home-input {
  background-color: #fff;
  color: #333;
  border: none;
  width: 275px;
  margin-top: 30px;
}

.signup-input {
    background-color: #fff;
    color: #333;
    border: none;
    width: 275px;
}

.login-input {
    background-color: #fff;
    color: #333;
    border: none;
    width: 275px;
}

.button {
  background-color: #26263a;
  color: #fff;
  border: none;
  width: 275px;
  margin-top: 10px;
  text-align: center;
}

.form-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.videoplayer-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.videoplayer {
  width: 300px;
  height: 215px;
}
