<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>squadTube</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.min.css">
    <link rel="stylesheet" href="../public/styles/style.css">
</head>
<body>
    <nav class="navbar main-nav  is-dark" role="navigation" aria-label="main navigation">
        <div class="navbar-start">
            <a class="navbar-item" href='/'>Home</a>
            ${!!is_logged_in ? `
                <a class="navbar-item" href="videos/favorites">Favorites</a>
                <a class="navbar-item" href='/users/logout'>Logout</a>
                <p class="navbar-item">Logged in as ${first_name} ${last_name}</p>
                ` : `
                <a class="navbar-item" href='/users/signup'>Register</a>
                <a class="navbar-item" href='/users/login'>Login</a>
                `
            }
        </div>
    </nav>
    <h1 class="container">${title}</h1>
    <main class="container">${body}</main>
</body>
</html>